body {
    font-family: Arial, sans-serif;
    background-image: url("../imgs/bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    margin-top: 200px;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 200px auto;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    width: 94%;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}