* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

nav {
    background-color: #2a384b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

li {
    margin-right: 20px;
}

a:hover {
    color: #007bff;
    border-radius: 4px;
}

.container {
    padding: 20px;
    margin-top: 50px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    border: 1px solid #fafafa;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin-top: 15px;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
    /* 修改此处 */
    border-bottom: 1px solid #ccc;
}

.table th {
    background-color: #f7f7f8;
    font-weight: bold;
    color: #5d5062;
}

.table td {
    color: #656475;
}

.btns {
    display: flex;
    justify-content: center;
}

/* 这里是按钮代码块 */
.btn {
    display: block;
    width: 80px;
    height: 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
}

.btn-edit {
    background-color: cadetblue;
}

.btn-danger {
    background-color: crimson;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-edit:hover {
    background-color: rgb(98, 129, 130);
}

.btn-danger:hover {
    background-color: rgb(165, 28, 55);
}

/* 表单样式 */
.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100px;
    height: 40px;
    background-color: #007bff;
}

.btn-return {
    background-color: #888;
}

/* 提交按钮样式 */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0069d9;
}