<!DOCTYPE html>
<html>

<head>
    <title>图书管理系统</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="imgs/icon.png" type="image/png" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="/users">用户管理</a></li>
            <li><a href="/books">图书管理</a></li>
            <li><a href="/records">借阅图书管理</a></li>
            <li><a href="/login/logout">退出登录</a></li>
        </ul>
    </nav>
</body>

</html>